@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    background-color: #fdfdfd;
    margin: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.definitions-container {
    gap: 2rem;
    padding-bottom: 1rem;
}

.definition-card {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    background-color: #efefef;
}

.definition-header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.definition-header h2,h3 {
    line-height: 1;
    margin: 0;
}

.definition-header h3 {
    padding-bottom: 0.04rem;
    font-style: italic;
}

.definition-body ol {
    font-size: 18px;
    margin-top: 0.75rem;
    padding-left: 1.5rem;
}

.definition-body li {
    margin: 0.3rem 0;
}
